.storyeditor {
  box-sizing: border-box;
  position:fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  width:100%;
  height:100%;

  background-image: url("paper6.gif");
  background-color:white;
}

.storyeditor_sidebar {
  box-sizing: border-box;
  float:right;
  background-color:black;
  border-left:1px solid #ccc;
  width:25%;
  height:100%;
  overflow: hidden;
}
/*.storyeditor_sidebar:hover {
  opacity: 1;
}*/
.storyeditor_sidebar > button {
  display:block;
  font-size:20px;
  width:100%;
  border:none;

  font-family:monospace;
  background-color:#000;
  color:white;
  padding:5px;
  outline:none;
  border: 1px solid black;
}
.storyeditor_sidebar > button:hover {
  border:1px dashed white;
}
.storyeditor_sidebar > button:active {
  border:1px dashed white;
  background-color: white;
  color:black;
}

.storyeditor_input {
  display:block;
  box-sizing: border-box;
  border:none;
  padding:25px;
  resize: none;
  outline:none;
  width:600px;
  margin-left: auto;
  margin-right: auto;
  height:100%;

  caret-color: red;

  background:none;

/*  background-size: 275px 300px;*/

  font-size:16px;
  font-family: monospace;
  color:black;

  text-shadow: 0px 0px 20px white;
}

.storyeditor_thumbnail {
  display:inline-block;
  width:250px;
  padding:20px;

  border:3px solid #ccc;
  border-radius:10px;
  box-sizing: border-box;
  margin:25px;
  cursor:default;
}

.storyeditor_thumbnail > .title {
  display:block;
  font-family:Georgia;
  font-size:25px;
  margin-bottom:20px;
}

.storyeditor_thumbnail > button {
  display:inline-block;
  width:50%;
  box-sizing: border-box;
  font-size:18px;
  background:none;
  border:none;
}

.storyeditor_thumbnail > button:hover {
  color:#99f;
  text-decoration: underline;
}
