.storyeditor {
  box-sizing: border-box;
  padding:0px;
  margin:25px;
  overflow: hidden;
  border-radius: 5px;
}

.storyeditor_input {
  display:inline-block;
  box-sizing: border-box;
  border:none;
  padding:25px;
  resize: none;
  outline:none;
  width:75%;
  height:500px;

  caret-color: red;

  background-color:#1e2128;

  font-size:13px;
  font-family: monospace;
  color:#eec;
}

.storyeditor_sidebar {
  display: inline-block;
  box-sizing: border-box;
  background-color:black;
  border-left:1px solid #ccc;
  width:25%;
  height:500px;
  overflow: hidden;
}
/*.storyeditor_sidebar:hover {
  opacity: 1;
}*/
.storyeditor_sidebar > button {
  display:block;
  font-size:20px;
  width:100%;
  border:none;

  font-family:monospace;
  background-color:#000;
  color:white;
  padding:5px;
  outline:none;
  border: 1px solid black;
}
.storyeditor_sidebar > button:hover {
  border:1px dashed white;
}
.storyeditor_sidebar > button:active {
  border:1px dashed white;
  background-color: white;
  color:black;
}

.storyeditor_thumbnail {
  display:inline-block;
  width:250px;
  padding:20px;

  border:3px solid #ccc;
  border-radius:10px;
  box-sizing: border-box;
  margin:25px;
  cursor:default;
}

.storyeditor_thumbnail > .title {
  display:block;
  font-family:Georgia;
  font-size:25px;
  margin-bottom:20px;
}

.storyeditor_thumbnail > button {
  display:inline-block;
  width:50%;
  box-sizing: border-box;
  font-size:18px;
  background:none;
  border:none;
}

.storyeditor_thumbnail > button:hover {
  color:#99f;
  text-decoration: underline;
}
